body {
    margin-top: 10px;
    overflow-x: hidden;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif !important;
    text-align: center;
}

p {
    font-family: 'Source Sans Pro', sans-serif !important;
}

footer {
    background-color: #F8F8F8;
    padding: 5px;
    border-top: 1px solid #E7E7E7;
}

footer .footer-text {
    font-family: 'Amatic SC', sans-serif !important;
    font-weight: 700;
}

.social-media-buttons {
    text-align: center;
}

@media (min-width: 768px) {
    .social-media-buttons {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width: 768px) {
    .social-media-buttons {
        width: 100%;
    }
}

/* Class Styles */

.page {
    margin-bottom: 10px;
    min-width: 100%;
}

.life-container {
    padding-left: 5vw;
    padding-right: 5vw;
}

.life-icon {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    text-align: center;
    padding-top: 40px;
}

/* BTN CIRCLE */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin: 4px;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
    margin: 25px;
}

/* ID Styles */

#instagram-logo {
    background-image: url("/instagram-gradient.png");
    background-size: 100px 100px;
}

#life {
    background-color: #F5F5F5;
}

#code-icon {
    padding-top: 35px!important;
}

/* MEDIA STYLES */
@media screen and (min-width: 992px) {
    .btn-circle.btn-xl {
        margin: 25px;
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 50px;
    }
}

/* Large Desktops */
@media (min-width: 1000px) {

}

@media (max-width: 768px) {
    .life-icon {
        height: 100px;
        width: 100px;
        padding-top: 15px;
    }
    #code-icon {
        padding-top: 15px !important;
    }
}

@media (max-width: 530px) {
    .main-content,
    body {
        margin: 0px;
    }
}
