body {
    margin-top: 10px;
    background-color: lightslategray;
    overflow-x: hidden;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
}

footer {
    background-color: #F8F8F8;
    padding: 5px;
    border-top: 1px solid #E7E7E7;
}

footer .footer-text {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 700;
}

form {
    margin-left: 25px;
    margin-right: 25px;
}

textarea {
    max-width: 100%;
    max-height: 250px;
}

/* Class Styles */
.row {
    width: 100%;
    margin: auto;
    padding: auto;
}

.navbar {
    margin-top: auto;
    margin-bottom: auto;
}

.navbar> .container-fluid {
    padding-top: 5px;
}

.navbar-right {
    float: right!important;
}

.navbar-left {
    float: left!important;
}

.main-content {
    margin-left: 15%;
    margin-right: 15%;
    background-color: white;
}

.page {
    margin-bottom: 10px;
    min-width: 100%;
}

.fa-arrow-circle-up {
    color: black;
    margin-top: 15px;
}

.life-container {
    padding-left: 5vw;
    padding-right: 5vw;
}

.life-icon {
    border: 1px solid black;
    height: 150px;
    width: 150px;
    text-align: center;
    padding-top: 40px;
}

/* BTN CIRCLE */

.btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin: 4px;
}

.btn-circle.btn-xl {
    width: 100px;
    height: 100px;
    padding: 10px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 50px;
    margin: 25px;
}
/* ID Styles */

#profile-picture> img {
    border-radius: 15px;
}

#social-media-buttons {
    text-align: center;
}

#instagram-logo {
    background-image: url("/instagram-gradient.png");
    background-size: 100px 100px;
}

#life {
    background-color: #F5F5F5;
}

#code-icon {
    padding-top: 35px!important;
}
/* MEDIA STYLES */

@media screen and (min-width: 992px) {
    #social-media-buttons {
        border-left: 1px solid #E7E7E7;
    }
    .btn-circle.btn-xl {
        margin: 25px;
        width: 100px;
        height: 100px;
        padding: 10px;
        border-radius: 50px;
    }
    .nav-pills {
        margin-right: 10px;
    }
}

@media screen and (max-width: 1000px) {
    .main-content {
        margin: 0 10% 0 10%;
    }
    body {
        margin: 0px;
    }
}

@media screen and (max-width: 720px) {
    .life-icon {
        height: 100px;
        width: 100px;
        padding-top: 15px;
    }
    #code-icon {
        padding-top: 15px!important;
    }
}

@media screen and (max-width: 530px) {
    .main-content,
    body {
        margin: 0px;
    }
    #right-nav-buttons {
        padding: 0;
    }
}

@media screen and (max-width: 380px) {
    .nav-pills> li> a {
        padding-left: 5px;
        padding-right: 5px;
    }
    .nav-pills {
        margin-right: 0px;
    }
}
